* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #171719;
  color: #e5e5e5;
}
